@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a, button {
        @apply
        transition-all
        duration-500
    }
    .message {
        @apply
        fixed
        bottom-[1%]
        mx-auto
        py-6
        px-4
        flex
        justify-center
        items-center
        w-[90%]
        xs:w-auto
        text-white
        text-center
        font-bold
        rounded-md
        ring-4
        z-20
    }
    .error {
        @apply message
        bg-red-500
        ring-red-500
        ring-opacity-50
    }
    .done {
        @apply message
        bg-green-500
        ring-green-500
        ring-opacity-50
    }
    .links {
        @apply
        text-blue-700
        hover:text-[#2F1A56]
        border-b-2
        border-gray-200
        hover:border-[#2F1A56]
    }
}
@layer components {
    .btn-promo {
        @apply
        relative
        p-3
        xs:p-4
        sm:p-5
        lg:p-6
        text-[1.15rem]
        xs:text-[1.5rem]
        lg:text-[1.875rem]
        flex
        flex-row
        justify-center
        items-center
        font-black
        text-white
        rounded-md
    }
    .btn-create-account {
        @apply btn-promo
        my-[10%]
        sm:my-[7%]
        bg-[#0031A9]
        hover:bg-[#002172]
    }
    .btn-submit {
        @apply btn-promo
        mx-auto
        mt-[8%]
        sm:mt-[5%]
        bg-[#2F1A56]
        hover:bg-[#000000]
    }
}
