name: ci-cd

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  app-make-lint:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Run builds
        run: docker-compose -f docker-compose.ci.yml up -d --build

      - name: Run builds
        run: docker-compose -f docker-compose.ci.yml up -d

      - name: Run install
        uses: MilesChou/composer-action/7.4/install@master
        with:
          args: install

